/* Custom styles for the POWER.CODERS Music Database */

.powercoders {
  color: #333
}

.powercoders:before,
.powercoders:after,
.powercoders .dot {
  color: #b2314a;
}

.powercoders:before,
.powercoders:after {
  position: relative;
  font-size: 110%;
  top: -0.05em;
}

.jumbotron h1 {
  margin-top: 0px;
}

.powercoders:before {
  content: '{';
  padding-right: 0.2em;
}

.powercoders:after {
  content: '}';
  padding-left: 0.2em;
}

.media-list {
  margin-top: 15px;
  border-top: 1px solid #ccc;
}

.media-list .media {
  border-bottom: 1px solid #ccc;
  margin-top: 0;
}

.media-list .media h4 {
  font-size: 16px;
  margin-top: 14px;
}

.media-list .media.active {
  background-color: #337ab7;
  color: #fff;
}

.media-list .media .media-image {
  width: 48px;
  height: 48px;
}

#artist-listing .media {
  cursor: pointer;
}

#artist-details {
  display: none;
}

#artist-details .nav-tabs {
  margin-top: 30px;
  margin-bottom: 15px;
}

.album-grid {
  list-style: none;
  margin: 0;
  padding: 0;
}

.album-grid:after {
  content: '';
  clear: left;
}

.album-grid .album-grid-item {
  float: left;
  width: 180px;
  min-height: 230px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.album-grid .album-grid-item > img {
  width: 174px;
  max-height: 174px;
}

.album-grid .album-body > a {
  display: block;
  padding: 8px 0;
  font-weight: bold;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

footer .container .row > div {
  font-size: 85%;
}
